body {
    font-family: 'Short Stack', cursive;
}

h1 {
    text-align: center;
    padding: 50px 0;
}

.randomizer {
    display: flex;
    justify-content: space-around;
}

.list {
    h2 {
        cursor:pointer;
    }
}